# Copyright 2020 (c) Cognizant Digital Business, Evolutionary AI. All rights reserved. Issued under the Apache 2.0 License.
# data science
pandas
numpy
notebook
scikit-learn
scipy
tensorflow-gpu
keras
neat-python

# plotting
plotly
matplotlib

# tests
pytest
nose
